.productImage {
    height: 400px;
    width: 300px;
}

.container {
    width: 100% !important; 
}

.img-thumbnail {
  border: 1px solid white;
}

.productname {
    font-size: 15px !important;
    font-weight: bold !important;
}