h2 {
    font-size: 6rem !important; 
    text-align: center;
    color: black; 
    padding: 0px; 
    margin: 0; 
}

.homelink:hover {
    text-decoration: none; 
}

storeTitle{
    margin-bottom: none;
    padding-bottom: none;

}