h2 {
    font-size: 6rem !important; 
    text-align: center;
    color: black; 
    padding: 20px; 
    background-color: #e9ecef; 
    margin-bottom: 0; 
}

.homelink:hover {
    text-decoration: none; 
}
