.checkout-card {
    width: 715px;
    height: 100%;
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}

.cust-info {
    margin-top: 40px;
    width: 650px;
    margin-left: 20px;
    line-height: 200%;
}
.bill-info {
    margin-top: 40px;
    width: 650px;
    margin-left: 20px;
}

.charge-info {
    padding-top: 50px;
    width: 650px;
    margin-left: 20px;
    padding-bottom: 30px;
}

input {
    width: 75%;
}

.btn {
    margin-left: 230px;
}