Footer{
    margin-top: none !important;
    padding-top: none !important;
    background-color: black !important;
    color: lightgrey !important;
    font-size: 15px;
}

Link{
    color: lightgrey;
}