.navbar {
    background-color: black !important;
    color: white !important; 
    border-bottom: solid black !important; 
}

.nav-link:hover {
    color: white!important; 
    background-color: lightgray;
}

.nav-link:visited {
    color: white !important; 
}

.nav-link:link {
    color: white !important; 
}

.nav-link:visted {
    color: white !important; 
}

.navbar-brand {
    font-size: 1.75rem;
}

.nav-link {
    font-size: 1.15rem;
}

nav li {
    padding-right: 10px; 
    padding-left: 8px; 
}