.navbar {
    background-color: black !important;
    color: white !important; 
    border-bottom: solid black !important; 
    padding-bottom: 0;
    margin-bottom: 5px;
}

.navbar-brand{
    font-size: 25px !important;
}

.nav-link:hover {
    color: white!important; 
    background-color: gray;
}

.nav-link:visited {
    color: white !important; 
}

.nav-link:link {
    color: white !important; 
}

.nav-link:visted {
    color: white !important; 
}

.navbar-brand {
    font-size: 1.75rem;
    color: white !important;
}

.nav-link {
    font-size: 1.15rem;
}

ul{
    list-style: none !important;
    margin: 10px !important;
    float: right !important;
}

li{
    padding-left: 5px;
    padding-right: 5px;
}

/* nav li {
    padding-right: 10px; 
    padding-left: 8px; 
} */